.sidebar{
    background: #44bfa2ff;
}

:root {
    --verde:  #00B5AC;
    --cinza:   rgb(231, 231, 233);
    --branco:#fff;
  }
  
  body {
    background-color: var(--cinza);
  }
  
  /*******  CABEÇALHO  *******/
  
  .mainimage {

    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid var(--branco);
    background: url(../img/avatar.jpg) no-repeat;
    background-size: cover;
  }
  .info_avatar{
    text-align: center;
    margin-top:20px;
  }
  .about-me{
    padding: 15px;
  }
  .job{
    font-family: 'Helvetica', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #eee;
  }
  .name{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
  }
  
  .cabecalho {
    color: var(--white);
    padding: 10px 0 10px 0;
    background-color: var(--verde);
    border-bottom: 5px solid var(--branco);
  }
  
  h1 + h3 {
    font-weight: 100;
  }
  .wrap_title{
    margin-bottom: 20px;
  }
  .title{
    padding-top:7px;
    font-family: 'Raleway', sans-serif;
    font-size: 300;
  }
  .txt_about{
    font-size: 15px;
  }
  
  .cabecalho hr {
    height: 5px;
    color: var(--branco);
    background-color: var(--branco);
  }
  
  /*******  SIDEBAR  *******/
  

  .contact {
    width: 285px;
    height: 30px;
    margin: 0 auto;
  }
  .habilidades{
    padding: 15px;
  }
  
  .skills label{
    padding-left: 120px !important;
    padding-top: 25px;
    font-weight: bold;
    font-size: 20px;

    color: var(--verde);
  }
  
  .languages label {
    padding-left: 105px !important;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--verde);
  }
  
  .contact div {
    background: var(--verde);
    color: var(--cinza);
    border-radius: 0px 0px 50px 50px;
    margin: 0px 50px 0px 50px;
    font-size: 20px;
  }
  
  .sidebar {

    padding: 0;
    color: var(--white);
   /* background-color: var(--verde);*/
    background-image: linear-gradient(to right, #008BAC , #00B5AC); 
  }
  
  .sidebar label {
    margin-bottom: 0;
    padding-left: 30px;
  }
  
  .progress {
    border-radius: 0;
    margin: 0 15px 0 30px;
  }
  
  .progress-bar {
    background-color: var(--branco);
  }

  .ferramentas{
    padding: 15px;
  }
  
  
  .contato {

    padding: 15px;
  }

  .footer_sidebar {
    text-align: center;
  }
  .main_logo  {
    margin: 0 auto ;
  }
  
  
  .contato label {
    padding: 0;
    margin-bottom: 0;
  }
  
  /*******  CENTRALBAR  *******/
  
  .icons {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    color: var(--cinza);
    background: var(--verde);
    border-radius: 50%;
    padding: 10px;
    float: left;
    margin-right: 10px;
  }

  .icons_sidebar {
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    font-size: 21px;
    color: var(--verde);
    background: var(--cinza);
    border-radius: 52%;
    padding: 6px;
    margin-right: 20px;

  }
  
  .centralbar {
    padding: 0;
    color: var(--verde);
    background-color: #fff;
  }
  
  .centralbar label {
    margin-bottom: 0;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  /*******  CONTEUDO  *******/
  
  .content {
    padding: 20px;
    color: var(--verde);
    background-color: var(--white);
  }
  
  .content hr {
    height: 2.5px;
    color: var(--cinza);
    background-color: var(--cinza);
  }

  .wrap_title_content{
    margin-bottom: 30px;
  }
  
  .date_content{
    font-weight: 700;
    font-size: 14px;
    color:#918f90ff;
  }
  .desc_content{
    color: #656263ff;
  }

  .btn-contato{
    background: #2d847bff;
  }


  canvas {
    display: block;
  }
  
  /* ---- particles.js container ---- */
  #particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }